<html>
    <head>
        <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
            rel="stylesheet" type="text/css">
            <link
                href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
                rel="stylesheet" type="text/css">
                
                <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
                <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>
                
    </head>
    <body>
        <H1>{{ current_stock }}</H1>
        
        
        <form action="/">
            <p>
            Please enter desired stock symbol: <input type='text' name="current_stock" />
            </p>
            <p>
            Please select desired prices' index: <select name="feature_name">
                {% for feature in feature_names %}
                {% if feature == current_feature_name %}
                <option selected value="{{ feature }}">{{ feature }}</option>
                {% else %} 
                <option value="{{ feature }}">{{ feature }}</option> 
                {% endif %}
                {% endfor %}
            </select>
            </p>
            <p>
            <input type="submit">
                </p>
        </form>
        
        {{ script|safe }}
        {{ div|safe }}
        
        
    </body>
</html>
